body{ 
    overflow: hidden;
    touch-action: none;
    -ms-content-zooming: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Griffy', cursive;   
    color: whitesmoke;
}
h1{
    display: inline;
    font-size: 5vh;
    text-shadow: 2px 2px palevioletred;
}
.header{
    display: inline;
    font-size: 3vh;
    color: orange;

}
div#Header{
    margin-top: 0;
    background-image: linear-gradient(to left,black,Maroon ,black,black,Maroon,black);
    text-align: center;
    width: 47.6vw; 
}
div#article{
    float: left;
    text-align: center;
    width: 47.6vw;
}
img {
    vertical-align: middle;
    border-style: none;
}
div#bar{
    float: right;
    text-align:center;
    width: 12vw;
    height: 100vh;
}
.bar{
    font-size: 3vh;
    color: whitesmoke;
    cursor: pointer;
}
.bar:hover{
    color: darkred;
}
p{
    text-shadow: 1px 1px tomato;
}